{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <section class="section">
        <div class="section-header">
            <h1>{{ block("title") }}</h1>
            {#% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <p>Email: {{ app.user.username }}</p>
            {% else %}
              <p>Email: none</p>
            {% endif %#}
        </div>
        <div class="row ml-0 mr-0">
            <div class="col-lg-6 col-md-6 col-12 pl-0 pr-0">

                {{ include('default/flashbags.html.twig') }}

                <div class="card">
                    <div class="card-header">
                        <h4>お知らせ</h4>
                    </div>
                    <div class="card-body">
                        {{ include('news/_list.html.twig') }}
                        {% block news %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 pl-md-4 pl-0 pr-0">
                {{ render(controller("ChapterThree\\C3Bundle\\Controller\\Defaults\\MenuController::button", {'page':app.request.requestUri})) }}
            </div>

        </div>
    </section>
{% endblock %}

{% block p2lugins_js %}
    {{ encore_entry_script_tags('node') }}
    <!--script src="../node_modules/simpleweather/jquery.simpleWeather.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="../node_modules/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../node_modules/summernote/dist/summernote-bs4.js"></script>
    <script src="../node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script-->
{% endblock %}

{% block p3age_js %}
    <!--script src="{#{ asset('assets/js/page/index-0.js') }#}"></script-->
    {{ encore_entry_script_tags('index-0') }}
{% endblock %}
