{% set savePathAttr = {'attr': {
    'v-model': attributes.nested('savePath').nested("attr").render('v-model'),
    'class': attributes.nested('savePath').nested("attr").render('class')
}} %}
{% set del = attributes.nested('v-on').render('delete') %}
<div{{ attributes }}>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.savePath, savePathAttr) }}
            {{ form_row(form.filename, {'attr': {'class': 'form-control'}}) }}
            <button class="btn btn-primary">{{ button_label|default('保存') }}</button>
            <a class="btn btn-danger" @click="{{ del }}">削除</a>
            {{ form_end(form) }}
        </div>
    </div>
</div>